@import 'styles/custom';

.header-menu {
  width: 100%;
}
.menu-item {
  line-height: 2rem;
  color: $gray-dark;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  text-underline-offset: 0.5rem;
  &:hover {
    color: #fff;
    cursor: pointer;
    text-decoration-color: rgba(255, 255, 255, 1);
  }
}
.toggle-icon {
  display: none;
}
.menu-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.auth-menu {
  margin-left: 5rem;
  .btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    &-transparent {
      color: $gray-dark;
      &:hover {
        color: #fff;
      }
    }
    &-primary {
      background: rgb(132, 128, 199);
      background: linear-gradient(
        90deg,
        rgba(132, 128, 199, 1) 0%,
        rgba(77, 182, 174, 1) 50%,
        rgba(0, 212, 255, 1) 100%
      );
      color: #fff;
      &:hover {
        color: #242932;
        background: #fff;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .toggle-icon {
    display: block;
    outline: none;
  }
  .menu-collapse {
    position: absolute;
    overflow: hidden;
    z-index: 4;
    top: 5rem;
    right: 0;
    width: 100%;
    height: auto;
    max-height: 0;
    transition: all 0.5s ease-out;
    &-links {
      width: 100%;
      flex-direction: column;
      .menu-item {
        margin: 1rem auto;
      }
    }
    .toggle-icon {
      display: block;
      outline: none;
    }
    &__open {
      max-height: 50rem;
    }
  }
}
